body {
  height: 100%;
  width: 99.55%;
  padding: 0;
  margin: 0;
  border: 0;
  font-family: 'Baloo', cursive;
}

.grid {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  grid-template-rows: 66.55vh 33vh;
  grid-template-areas:
    "map rooms students"
    "algorithm import import";
  grid-column-gap: 3px;
  grid-row-gap: 3px;
  padding: 0;
  margin: 0;
  border: 0;
  background-color: black;
}

/*Grid*/
#map {
  grid-area: map;
  background-color: #fea3aa;
}
/*Rooms*/
#rooms {
  grid-area: rooms;
  background-color: #f8b88b;
}
/*Students*/
#students {
  grid-area: students;
  background-color: #faf884;
}
/*Algorithm Button*/
#algorithm {
  grid-area: algorithm;
  background-color: #baed91;
  width: 100%;
  height: 100%;
}
/*Import Button*/
#import {
  grid-area: import;
  background-color: #b2cefe;
  font-size:55px;
  text-align:center;
  padding-top: 8%;
  margin:0;

}
#importButton {
  text-align: center;
  padding:0;
  margin:0;
}

h3 {
  text-align: center;
}

#go-button {
  /* Change text color after background color change */
  color: white;
  font-size: 100px;
  font-family: 'Baloo', cursive;
}

input {
  border-radius: 10px;
  border:0;
}
#actually-die {
  display:none;
}

#remove-button {
    border: 1px solid black;
    padding: 2px;
    margin: 0;
    margin-left: 10px;
    line-height: 10px;
    border-radius: 5px;
    background-color: Transparent;
    font-size: 20px;
}

ul {
  list-style: none;
}

#room-fields {

}

#canvas {
    width: 100%;
    height: 100%;
}
